.contact-info {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contact-info h2 {
    margin-top: 0;
  }
  
  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info i {
    margin-right: 10px;
  }