body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .navbar {
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 16px 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 53%;
    transform: translateX(-53%);
    background-color: black;
    width: 10%;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  #car-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .car-card {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .car-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; 
  }
  
  .car-card h3 {
    margin-top: 10px;
  }
  
  .car-card p {
    margin-bottom: 10px;
  }
  .social-media {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
